<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<% if (user) { %>
	<h2><%= user %></h2>
	<form method="POST" action="<%= authorizePath %>">
		<input type="hidden" name="user" value="<%= user %>">
		<input type="hidden" name="isAuthenticated" value="<%= true %>">
		<input type="submit">
	</form>
	<% } else { %>
	<form method="POST" action="<%= authorizePath %>">
		username: <input type="text" name="username">
		password: <input type="password" name="password">
		<input type="hidden" name="isAuthenticated" value="<%= true %>">
		<input type="submit">
	</form>
	<% } %>
</body>

</html>